In [1]:
import requests 
import numpy as np 
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
def get_dividend_list(symbol):     
    div_url = f'https://www.moneydj.com/ETF/X/Basic/Basic0005.xdjhtm?etfid={symbol}.TW'
    r = requests.get(div_url)
    soup = BeautifulSoup(r.text, "lxml")
    table = soup.findAll("table", class_ = "datalist")[0]
    list_rows = []
    rows = table.find_all('tr')

    for row in rows:
        row_td = [i.text for i in row.find_all('td')]
        if len(row_td)>1:
            list_rows.append(np.array(row_td)[[1,2,6]])

    df = pd.DataFrame(list_rows, columns = ['ex_div_date','pay_date','div_amount'] )
    df['symbol_id'] = [symbol] * len(df)
    return df

In [3]:
get_dividend_list('0050')

   ex_div_date    pay_date div_amount symbol_id
0   2023/01/30  2023/03/07   2.600000      0050
1   2022/07/18  2022/08/19   1.800000      0050
2   2022/01/21  2022/03/04   3.200000      0050
3   2021/07/21  2021/08/24   0.350000      0050
4   2021/01/22  2021/03/09   3.050000      0050
5   2020/07/21  2020/08/24   0.700000      0050
6   2020/01/31  2020/03/06   2.900000      0050
7   2019/07/19  2019/08/22   0.700000      0050
8   2019/01/22  2019/03/08   2.300000      0050
9   2018/07/23  2018/08/27   0.700000      0050
10  2018/01/29  2018/03/13   2.200000      0050
11  2017/07/31  2017/08/31   0.700000      0050
12  2017/02/08  2017/03/14   1.700000      0050
13  2016/07/28  2016/08/30   0.850000      0050
14  2015/10/26  2015/11/26   2.000000      0050
15  2014/10/24  2014/11/27   1.550000      0050
16  2013/10/24  2013/11/27   1.350000      0050
17  2012/10/24  2012/11/27   1.850000      0050
18  2011/10/26  2011/11/29   1.950000      0050
19  2010/10/25  2010/11/26   2.200000      0050
20  2009/10/23  2009/11/26   1.000000      0050
21  2008/10/24  2008/12/03   2.000000      0050
22  2007/10/24  2007/12/03   2.500000      0050
23  2006/10/26  2006/12/01   4.000000      0050
24  2005/05/19  2005/06/13   1.850000      0050